<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pair Up - Activation</title>
</head>
<body>
    <h2>Hello {{name | title}}</h2>
    <p>An account has been created for you on Pair-Up. Here are your sign in credentials:</p>
    <p><strong>email address:</strong>{{address}}</p>
    <p><strong>password:</strong>{{password}}</p>
    <p> Click <a href="https://pedantic-rosalind-47f797.netlify.app/login ">here</a> to sign in.</p>
    <h4>Pair Up (2020)</h4>
</body>
</html>



